/* 아래에 CSS를 작성해주세요. */
.card {
  width: 300px;
  padding: 0;
  line-height: 40%;
}

.card img{
  width: 295px;
  height: 295px;
  border-radius: 5px;
}

.card p{
  margin-left: 10px;
  font-size: 13px;
}